<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <a href="../pages/ticket_overview.php"><img src="../assets/img/logo/newLogoWhite.svg" alt="Logo"></a>
            </div>
            <div class="col-lg-11 my-auto">
                <nav>
                    <ul class="nav">
                        <li class="my-auto">
                            <a href="../pages/issueOverview.php">Nieuw issue</a>
                        </li>
                        <li class="my-auto">
                            <a href="../pages/issueOverview.php">Nieuw issue</a>
                        </li>
                        <li class="my-auto">
                            <a href="../pages/ticket_overview.php">Product aanvraag overzicht</a>
                        </li>
                        <li class="my-auto">
                            <form method="post" action="../index.php">
                                <button class="btn btn-clear" type="submit" name="logout">Uitloggen</button>
                            </form>
                        </li>
                        <li class="my-auto">
                            <a href="../pages/profile-edit.php">
                                <span class="material-icons align-middle">person</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>