:root {
    --color: #707070;
    --white-color: #fff;
    --btn-bg--hover-color: #178036;
    --btn-bg-color: #1c9941;
}

/* Utility */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color);
}

textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    resize: none;
}

.pointer {
cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color);
}

a:hover {
    text-decoration: underline;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--color);
}

input[type="radio"]:checked::after {
    width: 12px;
        height: 12px;
        border-radius: 12px;
        top: -1px;
        left: -1px;
        position: relative;
        background-color: var(--btn-bg-color);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid var(--btn-bg-color);
}

#content {
    position: relative;
    min-height: 100vh;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-xxl-12,
.col-xxl-11,
.col-xxl-10,
.col-xxl-9,
.col-xxl-8,
.col-xxl-7,
.col-xxl-6,
.col-xxl-5,
.col-xxl-4,
.col-xxl-3,
.col-xxl-2,
.col-xxl-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.my-auto {
    margin: auto 0;
}

.mx-auto {
    margin: 0 auto;
}

.m-0 {
    margin: 0;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: .5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.ml-4 {
    margin-left: 2rem;
}
.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mb-0 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: flex-end;
}

.align-middle {
    vertical-align: middle;
}

.align-items-center {
    align-items: center;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.h-100 {
    height: 100%;
}

.w-50 {
    width: 50%;
}

.h-25 {
    height: 25%;
}

.d-flex {
    display: flex;
}
.d-inline {
    display: inline;
}
.d-none {
    display: none;
}

.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #b2b6bb;
    border-radius: 24px;
}

.btn {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 24px;;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary {
    background-color: var(--btn-bg-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--btn-bg--hover-color);
    color: #fff;
    text-decoration: none;
}

.card-form .card-body {
    flex: unset;
}

.form-row {
    margin: 0rem 0 1rem 0;
}

.full-link {
    color: #0A54AB;
}

.full-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Login / Register page */

.bg-front {
    background-image: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-container {
    align-self: center;
    flex: auto;
    max-width: 600px;
}

/* Footer */

.grey_stroke{
    background-color: lightgray;
    text-align: center; 
}
.grey_stroke p{
    margin:0;
}

footer{
    background-color: var(--btn-bg-color);
    
    
}
footer ul{
    color: var(--white-color);
    list-style: none;
    margin: 0;  
}

footer li{
    display: inline;
}

.footerlogo img{
    margin-left: 20px;
}

.socials {
    padding-left: 0px;
}
.socials li{
    margin-right: 16px;
    
}


/* Flexbox */

/* Laptops and small monitors  */

    .container {
        max-width: 960px;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-lg-11 {
        flex: 0 0 91.66666666666667%;
        max-width: 91.66666666666667%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333333333333%;
        max-width: 83.33333333333333%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-8 {
        flex: 0 0 66.66666666666667%;
        max-width: 66.66666666666667%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333333333333%;
        max-width: 58.33333333333333%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-5 {
        flex: 0 0 41.66666666666667%;
        max-width: 41.66666666666667%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333333333333%;
        max-width: 33.33333333333333%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-2 {
        flex: 0 0 16.66666666666667%;
        max-width: 16.66666666666667%;
    }
    .col-lg-1 {
        flex: 0 0 8.333333333333333%;
        max-width: 8.333333333333333%;
    }


/* Xl laptops and Xl monitors  */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-xl-11 {
        flex: 0 0 91.66666666666667%;
        max-width: 91.66666666666667%;
    }
    .col-xl-10 {
        flex: 0 0 83.33333333333333%;
        max-width: 83.33333333333333%;
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-8 {
        flex: 0 0 66.66666666666667%;
        max-width: 66.66666666666667%;
    }
    .col-xl-7 {
        flex: 0 0 58.33333333333333%;
        max-width: 58.33333333333333%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-5 {
        flex: 0 0 41.66666666666667%;
        max-width: 41.66666666666667%;
    }
    .col-xl-4 {
        flex: 0 0 33.33333333333333%;
        max-width: 33.33333333333333%;
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-2 {
        flex: 0 0 16.66666666666667%;
        max-width: 16.66666666666667%;
    }
    .col-xl-1 {
        flex: 0 0 8.333333333333333%;
        max-width: 8.333333333333333%;
    }
    .socials {
        padding-left: 22px;
    }
}


/* XXl laptops and XXl monitors  */

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-xxl-11 {
        flex: 0 0 91.66666666666667%;
        max-width: 91.66666666666667%;
    }
    .col-xxl-10 {
        flex: 0 0 83.33333333333333%;
        max-width: 83.33333333333333%;
    }
    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xxl-8 {
        flex: 0 0 66.66666666666667%;
        max-width: 66.66666666666667%;
    }
    .col-xxl-7 {
        flex: 0 0 58.33333333333333%;
        max-width: 58.33333333333333%;
    }
    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-5 {
        flex: 0 0 41.66666666666667%;
        max-width: 41.66666666666667%;
    }
    .col-xxl-4 {
        flex: 0 0 33.33333333333333%;
        max-width: 33.33333333333333%;
    }
    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-2 {
        flex: 0 0 16.66666666666667%;
        max-width: 16.66666666666667%;
    }
    .col-xxl-1 {
        flex: 0 0 8.333333333333333%;
        max-width: 8.333333333333333%;
    }
}
