.ticket_date {
    color: grey;
}

.t_detail_table {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.t_detail_tbody {
    font-size: 25px;
    color: grey;
}

.td-left {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    padding-left: 10px;
}

.td-right {
    border-bottom: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
}

.form-container {
    border: 1px solid grey;
}

.message-view {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.title-messages {
    font-size: 20px;
}

.ticket-form {
    padding: 0;
}

#c_action {
    margin-top: 10px;
}

#b_action {
    margin-top: 10px;
}

.t_area {
    resize: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}

#b_file {
    width: 95%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 20px;
}

.upload_message {
    border-radius: 20px;
    background-color: #1c9941;
    border-style: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
}